#logo a {
  text-decoration: none;
}

#logo {
    margin: 10px 30px;
}

#bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}

nav {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: #042e3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  color: #e0e9ec;
  background-color: #042e3a;

}

#hero {
  width: 100%;
  height: 100vh;
  background-image: url(/images/hero.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero div {
  width: 800px;
  height: 200px;
  text-align: center;
  border-radius: 10px;
  box-shadow: -10px 10px 20px #4d1f08bb;
  background-color: #e86a2b5c;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

#hero h1 {
  font-family: "DM Serif Display";
  color: #ff9215;
  font-size: 40px;
  margin: 10px 0;
}

#hero h2 {
  font-family: "DM Serif Display";
  font-size: 30px;
  color: #ff8800;
  font-weight: 400;
  margin: 10px 0;
}

#hero a {
  font-family: "Satisfy";
  font-size: 30px;
  color: #ff9215;
}

#hero a:hover {
  font-family: "Satisfy";
  font-size: 30px;
  width: 100px;
  border-radius: 5px;
  background-color: #ff9215;
  color: #fce1c4;
}

#highlights {
    width: 100%;
    background: linear-gradient(90deg, #1a7b88,#f3b56e);
}

#highlights h1{
    padding: 40px;
    color: #e4861b;
    font-family: "DM Serif Display";
    font-size: 40px;
    text-align: center;
}

#destinations{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#destinations h2 {
    color: #e4861b;
    font-family: "Raleway";
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
}

.destination img {
    width: 360px;
    height: 640px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #052d39;
}

footer ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0e4f58,#ca985e);
}

footer li {
    width: 40px;
    height: 40px;
    padding:20px;
}

footer img {
    width: 100%;
    height: 100%;
}