body {
  margin: 0;
  font-family: "Questrial", sans-serif;
}

#logo a {
  text-decoration: none;
}

#logo {
  margin: 10px 30px;
}

#bar {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
}

nav {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  width: 200px;
  height: 40px;
  font-size: 20px;
  color: #042e3a;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  color: #e0e9ec;
  background-color: #042e3a;
}

footer ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #0e4f58, #ca985e);
}

footer li {
  width: 40px;
  height: 40px;
  padding: 20px;
}

footer img {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
}
